/10_industry_protfolio_extracted.csv
/20201231_Stand_sumanddensity.csv
/CAPM_project.pptx
/Datasets.zip
/everyday_mean.csv
/FF_extracted.csv
/meanandstd_all_prior10days.csv
/Mungo Wilson.pdf
/~$CAPM_project.pptx
/微信图片_20240126203140.png